[submodule "src/GMA"]
	path = src/GMA
	url = https://github.com/pytti-tools/GMA
[submodule "src/AdaBins"]
	path = src/AdaBins
	url = https://github.com/pytti-tools/AdaBins
[submodule "src/CLIP"]
	path = src/CLIP
	url = https://github.com/openai/CLIP
[submodule "src/taming-transformers"]
	path = src/taming-transformers
	url = https://github.com/CompVis/taming-transformers
